<h1 class="game-timer">0</h1>
<div class="main-items">
    <h1 class="timer">3</h1>
    <h1 class="sentence"></h1>
    <button class="restart-button" onclick="setTimer()">restart</button>
    <input type="text" id="mobile-keyboard-input" />
</div>

<script src="/scripts/game.js"></script>